[submodule "ide"]
	path = ide
	url = https://github.com/Terrapilot/ide.git
[submodule "platform"]
	path = platform
	url = https://github.com/Terrapilot/platform.git
[submodule "web"]
	path = web
	url = https://github.com/Terrapilot/web.git
